PORT=8080
NODE_ENV=development

SECRET_KEY=

# FIREBASE CREDENTIALS
# Note: only set firestore emulator host for testing in development environment
FIRESTORE_EMULATOR_HOST=127.0.0.1:8081
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# MAILER CREDENTIALS
SMTP_USERNAME=
SMTP_PASSWORD=